##please add the libraries along with version with '=='
    ##exmaple (add withut hashtags and no punctuations)
    #pandas==0.24.1
    #flask==1.0.2
    ##please use double equals as this files will be directly used in a cmd
    ##to install all requiements use 'pip install -r /path/to/requirements.txt


Flask==0.12.2
matplotlib==2.1.2
pandas==0.22.0
numpy==1.22.0
nltk==3.2.5
scikit-learn==0.19.1
seaborn==0.9.0
glob2==0.6
requests==2.18.4